hello this is friends
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends - Kokoa clone</title>
</head>
<body>
    <div class="status-bar">
          <div class="status-bar__column">
              <span>No service</span>
              <i class="fas fa-wifi"></i>
              <!-- To Do: Wifi Icon -->
          </div>
          <div class="status-bar__column">
              <span>18:43</span>
          </div>
          <div class="status-bar__column">
              <span>110%</span>
              <i class="fas fa-battery-full fa-lg"></i>
              <i class="fas fa-bolt"></i>
    </div>      
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__btn">
            <a class="nav__link" href="friends.html"><i class="fas fa-user-2px"></i>Friends</a></li>
            <li class="nav__btn">
            <li><a class="nav__link" href="#"><i class="far fa-comment fa-2px"></i>Chats</a></li>
            <li class="nav__btn">
            <li><a class="nav__link" href="#"><i class="fas fa-search fa-2px"></i>Search</a></li>
            <li class="nav__btn">
            <li><a class="nav__link" href="#"><i class="fas fa-ellipsis-h fa-2px"></i>Find</a></li>
        </ul>
    </nav>
    
    <script src="https://kit.fontawesome.com/434276f220.js" crossorigin="anonymous" />
   </script>
  </body>
</html>